body {
    font-family: 'Prompt', sans-serif;

}


.container-fluid a {
    color: gray;
}

.breadcrumb {
    background-color: #f3f1f1da;
}

.img-cover{
    height: 400px;
    object-fit: cover;
    object-position: center;
}

a h5{
    color: black;
}